:root {
  --theme-section: #2d333b;
  --theme-background: #22272e;
  --theme-gap: 10px;
  --theme-corner: 5px;

  --theme-red: #dc6f7a;
  --theme-red-light: #e38588;

  --theme-green: #618774;
  --theme-green-light: #7eab7b;

  --theme-blue-light: #5c6b92;

  --theme-yellow: #f8b47c;

  --brand-overlay-1: hsla(324, 23%, 65%, 0.08);
  --brand-overlay-2: hsla(324, 23%, 65%, 0.2);
}

.theme-dark {
  /*--background-primary: #24292f;
  --background-secondary: #24292f;
  --background-secondary-alt: #24292f;
  --background-tertiary: #24292f;
  --header-secondary: #ffffff;
  --text-muted: #cccccc;
  --channels-default: #ffffff;
  --text-normal: #ffffff;
  /*--interactive-normal: #e3786c;
  --activity-card-background: #24292f; */
  --background-floating: var(--theme-background);
  --channeltextarea-background: var(--theme-section);
  --scrollbar-auto-thumb: var(--theme-section);
  --scrollbar-auto-track: var(--theme-background);
  --scrollbar-auto-scrollbar-color-thumb: var(--theme-section);
  --scrollbar-auto-scrollbar-color-track: var(--theme-background);
  --control-brand-foreground: #a97594;
  --text-warning: var(--theme-yellow);
  --text-link: var(--theme-blue-light);
  /* --text-link: #4f8896;
  --text-link-low-saturation: #4f8896;
  --interactive-hover: #ffffff;
  --background-modifier-hover: rgba(36, 41, 47, 0.16);
  --background-modifier-active: rgba(36, 41, 47, 0.24);
  --background-modifier-selected: rgba(36, 41, 47, 0.32);
  --background-accent: #434c58; */
}

[data-popout-root],
html {
  --brand-experiment: #a97594;
  --brand-experiment-560: #9e6386;
  --brand-experiment-600: #9e6386;
}

.appMount-2yBXZl,
body,
.bg-1QIAus,
.wrapper-1_HaEi,
.app-2CXKsg,
.container-2RRFHK {
  background-color: var(--theme-background);
}

.container-1eFtFS {
  margin: calc(var(--theme-gap) / 2);
}

.base-2jDfDU {
  margin-right: var(--theme-gap);
}

/* red outline btn */
.lookOutlined-3yKVGo.colorRed-rQXKgM {
  border-color: var(--theme-red);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
  color: #ffffff;
  border-color: var(--theme-red);
  background-color: var(--theme-red);
}

/* embeds */
.embedFull-1HGV2S {
  border-left-width: var(--theme-corner);
  background-color: var(--theme-section);
}

/* embeds */
.embed-hKpSrO {
  border-radius: var(--theme-corner);
}

/* code blocks */
.markup-eYLPri code {
  background-color: var(--theme-section);
  border: none;
}

/* code blocks */
.hljs {
  border-radius: var(--theme-corner);
}

/* open thread button */
.container-3i3IzO {
  border-radius: var(--theme-corner);
  background-color: var(--theme-section);
}

/* thread resize handle */
.resizeHandle-PBRzPC {
  border-radius: var(--theme-corner);
  background-color: var(--theme-section);
}

/* thread container */
.container-3XgAHv {
  background: transparent;
  margin: calc(var(--theme-gap) / 2);
}

/* guild list */
.guilds-2JjMmN {
  width: 82px;
}

.scroller-3X7KbA {
  margin: calc(var(--theme-gap) / 2);
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

/* reaction */
.reaction-3vwAF2.reactionMe-1PwQAc {
  background-color: var(--brand-overlay-2);
}

/* ctrl+k bar */
.searchBar-3TnChZ {
  box-shadow: none;
}

.privateChannels-oVe7HL {
  background-color: transparent;
}

.sidebar-1tnWFu {
  background-color: transparent;
  margin: calc(var(--theme-gap) / 2);
}

.searchBar-3TnChZ {
  padding: 0;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--theme-section);
  padding: 0 1rem;
  height: 48px;
}

.scroller-1ox3I2,
.scroller-WSmht3 {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  margin: var(--theme-gap) 0;
}

.panels-3wFtMD {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.communityInfoVisible-3zc5_s .header-3OsQeK,
.header-3OsQeK {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  box-shadow: none;
}

.chat-2ZfjoI {
  background-color: transparent;
  margin: calc(var(--theme-gap) / 2);
}

.container-1NXEtd {
  background-color: transparent;
}

/* server banner image */
.animatedContainer-2laTjx {
  display: none;
}

.expandedFolderBackground-1kSAf6 {
  background-color: transparent;
}

/* random shadows & garbage */
.tabBody-2dgbAs:before,
.chat-1-OBC7:before,
.content-1jQy2l:before,
.form-3gdLxP:before,
.children-3xh0VB:after {
  display: none;
}

.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  margin-bottom: var(--theme-gap);
}

.container-2o3qEW {
  background-color: transparent;
}

/* reply bar */
.replyBar-1oi75v,
.threadSuggestionBar-3ExSyc {
  background-color: var(--theme-section);
}

/* reply-to highlight */
.highlighted-1TaRLI,
.replying-eZ7p5z,
.message-2CShn3.replying-eZ7p5z.selected-2LX7Jy,
.mouse-mode.full-motion .replying-eZ7p5z:hover {
  background-color: var(--brand-overlay-1);
}

/* member list */
.members-3WRCEx {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

/* member list member */
.member-48YF_l {
  background-color: transparent;
}

.content-3spvdd {
  background-color: var(--theme-background);
}

/* server invites */
.wrapper-1HIH0j {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

/* friend list page */
.container-2cd8Mz {
  background-color: transparent;
  margin: 5px;
}

/* search bar */
.container-2oNtJn {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

/* add friend btn */
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1,
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
  background-color: var(--brand-experiment);
}

/* actions */
.actionButton-3-B2x- {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

/* now-playing bullshit. i should probably just hide this garbage instead */
.nowPlayingColumn-1eCBCN,
.container-1oAagU {
  background-color: transparent;
}

/* now playing cards */
.wrapper-2RrXDg {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  border: none;
}

/* now playing card details */
.theme-dark .inset-SbsSFp,
.section-3G9aLW {
  background-color: transparent;
}

/* forum channel background */
.container-3wLKDe {
  background-color: transparent;
}

/* forum channel card */
.increasedActivityMainCard-2ry6hI,
.mainCard-3KBsBI,
.container-1PloNW:hover {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  border: none;
}

/* tag button */
.tag-19iIl1 {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.pill-3pRQlO.selected-24z1Ou {
  border-color: var(--brand-experiment);
}

/* text card footer */
.theme-dark .textContentFooter-2JnNv8 {
  background: var(--theme-section);
}

/* public badge & other community info */
.communityInfoContainer-1dMVpU {
  display: none;
}

/* spotify nagbar */
.notice-2HEN-u {
  box-shadow: none;
  margin: calc(var(--theme-gap) / 2);
  border-radius: var(--theme-corner);
}

/* calls */
.callContainer-HtHELf {
  background-color: transparent;
}

/* call */
.wrapper-1gVUIN {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

/* loading messages */
.wrapper-3HVHpV,
.wrapper-15CKyy {
  background-color: transparent;
}

/* new server "invite your friends" bullshit */
.card-PQEqCK {
  background-color: var(--theme-section);
}

/* update icon */
.updateIconForeground-2V_zo4 {
  fill: var(--theme-green-light);
}

/* slash in mute icon */
.strikethrough-2Kl6HF {
  fill: var(--theme-red);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  background-color: var(--theme-green-light);
}

/* VC pop-out chat */
.chat-1-OBC7 {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.floating-3M3WeH {
  filter: none;
  border-left: none;
}

/* stupid fucking gradients */
.gradientContainer-phMG8d {
  display: none;
}

/* empty server list icons */
.childWrapper-1j_1ub {
  background-color: var(--theme-background);
}

/* server list folder icon */
.folder-241Joy {
  background-color: var(--theme-background);
}

/* empty channel hash icon */
.emptyChannelIcon-1YdEz2 {
  background-color: transparent;
}

/* server mute/deafen */
.iconServer-GeSR0b {
  color: var(--theme-red);
}

/* user controls server mute/deafen */
.container-YkUktl .redIcon-1ppjsM {
  color: var(--theme-red);
}

/* nagbar danger */
.colorDanger-2YLzLC {
  background-color: var(--theme-red);
  color: #ffffff;
}

/* 
.checkboxWrapper-SkhIWG.checked-3_4uQ9 .checkbox-1ix_J3 svg path {
  fill: #a97594;
}

.bg-h5JY_x,
.app-2rEoOp,
.appMount-3lHmkl,
body,
.replyBar-1YLQ2F,
.threadSuggestionBar-2ufK2Z {
  background-color: var(--theme-background);
}

.theme-dark .footer-2gL1pp,
.theme-dark .footer-3mqk7D,
.container-3w7J-x,
.scroller-1Bvpku,
.panels-j1Uci_,
.header-39GIC8,
.privateChannels-1nO12o,
.scroller-1JbKMe,
.content-1o0f9g,
.theme-dark .selected-1Tbx07,
.searchHeader-2XoQg7,
.channelName-1JRO3C {
  background-color: var(--theme-section);
}

.searchResult-9tQ1uo {
  background-color: var(--theme-section);
  border: 1px solid var(--theme-background);
}

.searchResultsWrap-3-pOjs,
.members-1998pB,
.members-1998pB > div {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  margin-left: var(--theme-gap);
}

.container-2lgZY8 {
  padding: calc(var(--theme-gap) / 2);
}

.container-2lgZY8 > * {
  margin: calc(var(--theme-gap) / 2);
}

.wrapper-3NnKdC {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.wrapper-35wsBm,
.expandedFolderBackground-1cujaW {
  border-radius: var(--theme-corner);
  background-color: var(--theme-background);
}

.scroller-2ZPeAD {
  border-left: none;
}

.container-lRFx4q {
  border-radius: var(--theme-corner);
  background-color: var(--theme-section);
}

.sidebar-2K8pFh {
  margin-right: var(--theme-gap);
  border-radius: var(--theme-corner);
  background-color: var(--theme-section);
}

.container-1r6BKw.themed-ANHk51 {
  margin-bottom: var(--theme-gap);
  border-radius: var(--theme-corner);
  background-color: var(--theme-section);
}

.chat-3bRxxu {
  border-radius: var(--theme-corner);
}

.base-1pYU8j {
  border-radius: calc(var(--theme-corner) / 2);
}

.headerBar-1YYOfi:before,
.libraryHeader-3g95kE:before,
.theme-dark .form-2fGMdU:before,
.theme-dark .children-19S4PO:after,
.chat-15Vmww:before,
.content-yTz4x3:before,
.tabBody-3YRQ8W:before {
  display: none;
}

.theme-dark .container-1D34oG,
.stageSection-3mAD8V,
.chat-3bRxxu,
.threadSidebar-1o3BTy {
  background-color: transparent;
  margin-right: var(--theme-gap);
}

.container-1a3EgQ {
  margin-left: 0;
  margin-right: var(--theme-gap);
}

.threadSidebar-1o3BTy {
  margin-left: 0;
}

.isUnread-3Ef-o9 {
  --divider-color: var(--theme-red);
}

.embedFull-2tM8-- {
  background-color: var(--theme-background);
  border-left: calc(var(--theme-corner) / 2) solid var(--theme-section);
  border-radius: calc(var(--theme-corner) / 2);
}

.scroller-1IIF0A,
.chatContent-a9vAAp,
.theme-dark .uploadModal-2ifh8j {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.searchBar-6Kv8R2 {
  box-shadow: none;
}

.wrapper-2aW0bm {
  background-color: var(--theme-background);
  box-shadow: none;
}

.container-24CyRY {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.peopleList-3c4jOR {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  margin-right: var(--theme-gap);
  margin-top: 0;
}

.subscriptionsRedirectWarningIcon-1sYeH0 path {
  fill: var(--theme-yellow);
}

.header-2V-4Sw {
  box-shadow: none;
}

.attachedBars-tZDmyV {
  /* This one uses `background` instead of `background-color` because when you are discord, what is consistency anyway?
  background: var(--theme-background);
}

.theme-dark .container-3ayLPN {
  background-color: var(--theme-background);
}

.theme-dark .elevationBorderHigh-2WYJ09 {
  box-shadow: none;
}

.theme-dark .option-96V44q:after {
  background: var(--theme-background);
}

.theme-dark .autocomplete-1vrmpx {
  background-color: var(--theme-background);
}

.autocomplete-OOX59Q {
  box-shadow: none;
  border-radius: var(--theme-corner);
}

/* Nitro Page 
.subscriptionsRedirectContainer-21LuI0 {
  background-color: var(--theme-background);
}

.theme-dark .feature-2w65J5 {
  border-radius: var(--theme-corner);
  background-color: var(--theme-background);
}

.container-3Mxszk {
  margin-right: var(--theme-gap);
}

.wrapper-3D2qGf {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
  border: none;
}

.theme-dark .container-S9SaVf,
.section-2gLsgF {
  background-color: var(--theme-background);
  border-radius: var(--theme-corner);
  border: none;
}

.container-7Unqij {
  background-color: var(--theme-section);
  color: #ffffff;
  border-radius: calc(var(--theme-corner) / 2);
}

/* Store

.applicationStore-1pNvnv {
  background-color: transparent;
  margin-right: var(--theme-gap);
}

.scroller-9moviB,
.scroller-1JpcIc {
  background-color: var(--theme-section);
  border-radius: var(--theme-corner);
}

.theme-dark .row-1bU71H {
  background-color: var(--theme-section);
  color: #ffffff;
}

.checkmarkIcon-2EnYwn {
  color: var(--theme-green);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
  background-color: var(--theme-green);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--theme-green-light);
}

.theme-dark .yellow-2DRjXu,
.theme-light .yellow-2DRjXu {
  border-color: var(--theme-yellow);
}

.description-Gcecy9 {
  color: #ffffff;
}

.theme-dark .label-13UUcd,
.theme-light .label-13UUcd {
  color: inherit;
  font-weight: bold;
}

.theme-dark .bodySection-jqkkIP,
.theme-light .bodySection-jqkkIP {
  border-top: none;
}

.warning-n1YvYR {
  border-radius: var(--theme-gap);
}

.section-foaVwT:first-child {
  border-radius: var(--theme-corner) var(--theme-corner) 0 0;
}

.section-foaVwT:last-child {
  border-radius: 0 0 var(--theme-corner) var(--theme-corner);
} */
